name: CI/CD
on:
  push:
    branches:
      - main

jobs:
  run-e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Start application
        run: docker compose up --build -d
      - name: Run tests
        run: docker compose run --rm --entrypoint=npx e2e-tests playwright test